*{
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;

}




.fontHeader{
    font-family: 'Raleway', sans-serif;
}


.header{
    background-color: white;
    width: 1402px;
    font-size: 20px;
    padding-top: 102px;
}

}

.line{
    width: 64px;
    margin-left: 669px;
    margin-top: 24px;
    margin-bottom: 22px;
    border-top: 2px solid rgba(236, 108, 3, 0.973);
}

.contentHeader{
    padding-top: 22px;
    margin-bottom: 66px;
    font-size: 14px;
}

.wrapper{
    display: flex;
    justify-content: center;
}

.backgroundImage{
    background-position: center;
    width: 70px;
    height: 70px;
    margin-left: 210px;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 2px solid orange;
}
.lamp{
    background-image: url(./images/11.png);

}
.keyboard{
    background-image: url(./images/22.png);
}

.lightning{
    background-image: url(./images/33.png);
}

.title{
    font-size: 20px;
    margin-top: 27px;
}

.content{
    font-size: 14px;
    margin-top: 16px;
    margin-right: 33px;
}
